{
  "extends": "./.releaserc.react-native-path-filter.js",
  "tagFormat": "@notifee/react-native@${version}",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/react-native/release-notes.mdx",
        "changelogTitle": "---\ntitle: Releases\ndescription: Notifee API releases\n---"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "packages/react-native",
        "npmPublish": true
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": [
          "docs/react-native/release-notes.mdx",
          "packages/react-native/package.json",
          "packages/react-native/android/libs"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci] \n\n${nextRelease.notes}"
      }
    ]
  ]
}
