<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383739936153-5plak2ul15gafbv8omd1084lb9ikf51q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383739936153-5plak2ul15gafbv8omd1084lb9ikf51q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>383739936153-erne6alisa6qm97kiftc5b1e9fm5iqoj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKsSAVKZVm55hl9NfBREtvWu1rEZEZPVs</string>
	<key>GCM_SENDER_ID</key>
	<string>383739936153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notifee.testing</string>
	<key>PROJECT_ID</key>
	<string>notifee-test-app</string>
	<key>STORAGE_BUCKET</key>
	<string>notifee-test-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383739936153:ios:f3c82e9bf06302683c2708</string>
	<key>DATABASE_URL</key>
	<string>https://notifee-test-app.firebaseio.com</string>
</dict>
</plist>