name: JUnit Tests

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/*.yml'
      - 'android/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs-react-native/**'
      - '**/*.md'

jobs:
  unit:
    name: JUnit Tests
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.9.1

      - uses: actions/checkout@v2
        with:
          fetch-depth: 50

      - name: Configure JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Gradle Cache
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}-v1

      - name: Resolve Gradle Dependencies
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 10
          retry_wait_seconds: 60
          max_attempts: 3
          command: yarn build:core:android

      - name: Run JUnit Tests
        run: yarn test:core:android
