name: JUnit Tests

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/*.yml'
      - 'android/**'
  push:
    paths-ignore:
      - 'docs/**'
      - '**/*.md'

jobs:
  unit:
    name: JUnit Tests
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.9.1

      - uses: actions/checkout@v2
        with:
          fetch-depth: 50

      - name: Configure JDK 1.11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11' # ubuntu-latest is about to default to 11, force it everywhere

      - name: Verify JDK11
        # Default JDK varies depending on different runner flavors, make sure we are on 11
        # Run a check that exits with error unless it is 11 version to future-proof against unexpected upgrades
        run: java -fullversion 2>&1 | grep '11.0'
        shell: bash

      - name: Gradle Cache
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}-v1

      - name: Resolve Gradle Dependencies
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 10
          retry_wait_seconds: 60
          max_attempts: 3
          command: yarn build:core:android

      - name: Run JUnit Tests
        run: yarn test:core:android
